:root{
    --cor-primeiro: blue;
    --cor-segundo: red;
    --cor-terceiro: green;
    --cor-quarto: orange;
}

h1{
    background-color: var(--cor-primeiro);
    color: var(--cor-quarto);
}

h2{
    background-color: var(--cor-segundo);
    color: var(--cor-terceiro);
}

h3{
    background-color: var(--cor-terceiro);
    color: var(--cor-segundo);
}

h4{
    background-color: var(--cor-quarto);
    color: var(--cor-primeiro);
}

div{
    background-color: var(--cor-quarto);
    margin: 0 auto;
    width: 200px;
    height: 200px;
    border-radius: 50px 100px 25px 10px;
    box-shadow: 5px 5px 1px black;
}

