:root{
    --azul: #3a68b7;
    --fonte: 'Roboto', sans-serif;
    --peso-1: 300;
    --peso-2: 400;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 62.5%;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: var(--azul);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--fonte);
    font-weight: var(--peso-1);
}
h1{
    color: var(--azul);
    font-size: 1.8rem;
    font-weight: var(--peso-1);
    margin-bottom: 1rem;
}

.form{
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 2rem 1.5rem;
    min-width: 25rem;
    max-width: 50rem;
    box-shadow: -4px 4px 1px rgba(0, 0, 0, 0.2);
}

.label_usuario, .label_senha, .label_email{
    font-size: .8rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    margin-bottom: .5rem;
}

.cadastro, .usuario, .senha{
    margin-bottom: 1.3rem;
    font-size: 1.3rem;
    width: 100%;
    border: transparent;
    border-bottom: 1px solid var(--azul);
    color: grey;
}

.cadastro:focus, .usuario:focus, .senha:focus{
    outline: 0;
    border: 2px solid var(--azul);
    padding-left: .4rem;
    transition: .08s;
}

.container__butoes{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: grey;
}

.btn{
    background-color: var(--azul);
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    padding: .8rem 1rem;
    border: none;
    border-radius: 3px;
    box-shadow: -2px 2px 1px rgba(0, 0, 0, 0.2);
}

.btn:hover{
    cursor: pointer;
}

.cadastro_link{
    color: #3a68b7;
    background-color: white;
    font-weight: bold;
    padding: .8rem 1rem;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1rem;
}

