:root{
    --cor-top-header: #162028;
    --cor-text-menu: #425564;
    --cor-texto: #555;
    --cor-texto-box-com-imagem: #003d52;
    --cor-fundo-footer: #0b171f;
    --cor-text-footer: #6f8597;

    --fonte-titulo: 'Viaoda Libre', cursive;
    --fonte-padrao: 'Roboto', sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    padding: 3.0rem;
    font-size: 1.6rem;
    background-color: white;
    font-family: var(--fonte-padrao);
}

/*CABEÇALHO DA APLICAÇÃO*/

.header__nav{
    display: flex;
    background-color: var(--cor-top-header);
    align-items: center;
}

.header__ul{
    display: flex;
    flex-basis: 50%;
    justify-content: space-around;
    text-transform: uppercase;
}

.header__ul li {
    text-decoration: none;
    list-style: none;
}

.header__ul a {
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--cor-texto);
    letter-spacing: 0.2rem;  
}

.header__title{
    color: white;
    font-family: var(--fonte-titulo);
    flex-basis: 50%;
    padding-left: 12.5rem;
    font-size: 3.6rem;
    font-weight: 100;
}

.header__container{
    width: 100%;
}

.header__container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



