:root{
    --cor-top-header: #162028;
    --cor-text-menu: #425564;
    --cor-texto: #555;
    --cor-texto-box-com-imagem: #003d52;
    --cor-fundo-footer: #0b171f;
    --cor-text-footer: #6f8597;

    --fonte-titulo: 'Viaoda Libre', cursive;
    --fonte-padrao: 'Roboto', sans-serif;
}


