
main {
  width: 80%;
  margin: 0 auto;
  font-family: sans-serif;
}

h1 {
  text-align: center;
  color: rgb(1, 1, 184);
  background-color: rgb(65, 171, 241);
  padding: 10px 0 0 0;
  margin-bottom: 0;
}

h2 {
  color: rgb(0, 0, 125);
  background-color: rgb(167, 167, 167);
  padding: 10px 0;
  border-bottom: 2px solid rgb(0, 0, 125);
}

h3 {
  color: rgb(67, 67, 67);
  font-size: 14px;
}
p {
  color: rgb(67, 67, 67);
  font-size: 13px;
}

.sub_nome {
  text-align: center;
}

ul {
  padding: 0 0 0 20px;
}

header {
  text-align: end;
}

header li {
  background-color: darkgray;
  padding: 25px;
  margin-right: 5px;
}

header li a {
  text-decoration: none;
}

header li:hover {
  background-color: blueviolet;
}

header ul li {
  display: inline-block;
}
